<html>
  <body>
    <form (submit)="loginUser($event)">
      <div class="container">
        <h1>Log in</h1>
        <div>
          <input
            type="text"
            autocomplete="off"
            placeholder="Username"
            id="username"
          />
        </div>
        <div>
          <input
            type="password"
            autocomplete="off"
            placeholder="Password"
            id="password"
          />
        </div>
        <div>
          <button type="submit" id="submit">Submit</button>
        </div>
      </div>
      <p>To create a new account</p>
      <span routerLink="register"> Register</span>
    </form>
  </body>
</html>
