form {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2 {
  font-size: 6 0px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: rgb(168, 151, 230);
  border-radius: 20px;
}

input#email,
input#password,
input#cpassword {
  outline: 0;
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px;
  min-width: 500px;
}
input {
  border: none;
  border-radius: 8px;
  height: 50px;
}
button#submit {
  border-radius: 10px;
  margin-top: 10px;
  font-size: 20px;
  width: 150px;
  height: 50px;
  background-color: rgb(126, 124, 204);
  cursor: pointer;
}
button#submit:hover {
  background-color: rgb(106, 81, 216);
}
p,
span {
  font-size: 30px;
}
span {
  cursor: pointer;
  color: blue;
}
