<!-- 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 email api -->
<form (submit)="registerUser($event)">
  <div class="container">
    <h2>Register Here</h2>
    <div>
      <input
        name="email"
        type="email"
        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
        placeholder="Email*"
        id="email"
        ngModel
        [email]="true"
      />
    </div>
    <div>
      <input
        type="password"
        minlength="6"
        placeholder="Password"
        id="password"
      />
    </div>
    <div>
      <input type="password" placeholder="Confirm Password" id="cpassword" />
    </div>
    <div>
      <button type="submit" id="submit" ng-click="divlabel=!divlabel">
        Submit
      </button>
    </div>
    <p>Already had an account</p>
    <span routerLink="login">Login</span>
  </div>
</form>
