.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}
h3 {
  font-size: 80px;
}
.fname {
  font-size: 30px;
}
label {
  font-size: larger;
  font-weight: bold;
}
.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  padding: 0 16px;
  justify-content: center;
  margin-top: 30px;
}

.container {
  margin-top: 100px;
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.btn {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);

  color: white;
  padding: 15px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
img {
  height: 200px;
}

.image {
  height: 90px;
}
