#buttons {
  display: flex;
  align-items: center;
  height: 100px;
}
#banner {
  display: flex;
  justify-content: flex-start;

  background-image: url("https://img.freepik.com/free-vector/free-delivery-logo-with-bike-man-courier_1308-48827.jpg?t=st=1645710434~exp=1645711034~hmac=812ab15eefbf18be34bf4195949d006bd9a4e1401e7815f09205630935474de4&w=1380");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 540px;
}

.button {
  padding: 10px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  background: black;
  border: 1px solid black;
  text-decoration: none;
  margin: 20px;
}

.button:hover {
  background: white;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: max-content;
  font-size: 20px;
  background-color: rgb(212, 201, 201);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1;
  margin-top: 5px;
  margin-left: 30px;
  font-weight: bolder;
  border-radius: 8px;
}
a {
  text-decoration: none;
  color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}

*:before,
*:after {
  box-sizing: border-box;
}
.image {
  height: 112px;
  width: 112px;
}
.tag {
  margin-top: 15px;
  text-decoration: none;
  background: #ffc400;
  color: #121212;
  line-height: 1.1em;
  padding: 10px 60px 10px;
  text-align: center;
  font-size: 1.1em;
  font-weight: 900;
  font-family: "Roboto", Tahoma, helvetica, arial, sans-serif;
  transition-duration: 0.2s;
  text-decoration: none;
  border-radius: 30px;
}
a {
  color: #337ab7;
  text-decoration: none;
}
.tag:hover {
  color: rgba(255, 255, 255, 0.719);
}
.text {
  font-weight: bold;
  font-size: larger;
}
@media (max-width: 700px) {
  .tag {
    padding: 10px 20px 10px;
  }
  #banner {
    background-size: contain;
    margin: 10px;
  }
}
